<h1>Meus Livros</h1>
<section class="books-container">
    <a href="/">Adicionar Livro</a>
    {{#each books}}
        <div>
            # {{this.id}} - <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> - {{this.nm_paginas}} páginas
        </div>
    {{/each}}
</section>